.body{
    background-image: url(https://t3.ftcdn.net/jpg/02/58/99/42/360_F_258994216_zu9hTrycqkUa3GMpB58HtcXaiEQfKMs9.jpg);
    background-size: cover;
}

.title{
    background-color: antiquewhite;
    font-family: 'Play', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
    padding: 5px;
    border-radius: 10px;
    font-size: 125%;
    border-style: groove;
    border-color: rgb(0, 0, 0);
    color: black;
}
.pageButtons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}
.navActive{
    background-color: rgb(250, 199, 132);
    margin: 0px, 10px;
}
.false{
    background-color: antiquewhite;
}
.navActive,.false{
    border: 2px solid black;
    margin: 0px 10px;
    padding: 5px;
    border-radius: 10px;
}
.searchBar{
    margin-left: auto;
    margin-right: auto;
    display: block;
   }
.gameTitle{
    font-size: 200%;
}
.rating{
    font-size: larger;
    font-weight: bold;
    font-family: 'Play', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 700;
}
.userScore{
    border: 1.5px solid black;
    margin: 0px 10px;
    padding: 5px;
    background-color: antiquewhite;
    border-radius: 5px;
}
.criticScore{
    border: 1.5px solid black;
    margin: 0px 10px;
    padding: 5px;
    background-color: antiquewhite;
    border-radius: 5px;
}
.review{
    text-align: center;
    font-size: larger;
    font-family: 'Play', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: antiquewhite;
    border: 1.5px solid black;
}
.gameInfo{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.gameInfo > div{
    padding: 20px;

}
.intro{
    text-align: center;
    font-size: 200%;
    font-family: 'Play', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.intro2{
    text-align: center;
    font-size: 180%;
    font-family: 'Play', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.githubLink{
    text-align: center;
    font-size: 135%;
    color:black;
}
.comment{
    font-family: 'Play', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 125%;
    background-color: antiquewhite;
    border: 1.5px solid black;
}
.teamMembers{
    display: flex;
    justify-content: center;
}
.clinton{
    font-family: 'Play', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 125%;
    background-color: antiquewhite;
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.kevni{
    font-family: 'Play', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 125%;
    background-color: antiquewhite;
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.vaughn{
    font-family: 'Play', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 125%;
    background-color: antiquewhite;
    border: 1.5px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
}
.teamPics{
    display: flex;
    justify-content: center;
}
.clintonPic{
    padding: 10px;
    margin: 10px;
    max-width: 250px;
}
.kevniPic{
    padding: 10px;
    margin: 10px;
    max-width: 250px;
}
.vaughnPic{
    padding: 10px;
    margin: 10px;
    max-width: 250px;
}